
/* General Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

/* To-Do List Container */
.todo-list {
  background: transparent;
  backdrop-filter: blur(10px);
  
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 15px;
  color: azure;
}

/* Input Field */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
  height: 40px;
}

/* Add Button */
button {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  transition: .4s ease-in-out;
}
.addinput{
    margin-left: 10px;
}
.addinput:hover{
    background-color: #046d16;
}
button:hover {
  background-color: #a3a5a7; /* Darker Green */
}

/* Task List */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Task Item */
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Completed Task Styling */
.completed {
  text-decoration: line-through;
  color: #ccc;
}

/* Checkbox */
input[type="checkbox"] {
  margin-right: 10px;
}

/* Remove Button */
button.remove {
  background-color: #f44336; /* Red */
  color: white;
}

button.remove:hover {
  background-color: #da291c; /* Darker Red */
}
.inputadd{
    display: flex;
}
span{
    color:white
}
/* footer section start */

.copy-right-sec{
    padding: 5px;
    background: #82074a;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
    opacity: .7;
}
.copy-right-sec a{
	color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}

/* footer section end */
